Repository denof-inc/sokubutsu2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 50, prettier --write

feat: 品質を維持したESLintエラー削減 - 目標達成
  eslint.config.mjs
  package-lock.json
  package.json
  src/core/auth/auth.service.spec.ts
  src/core/database/database.service.spec.ts
  src/domain/telegram/telegram.controller.spec.ts
  src/domain/url/url.service.spec.ts
  src/domain/url/url.service.ts
  src/features/data-acquisition/feed-parser.service.ts
  src/features/scraping/browser-stealth.service.ts
  src/features/scraping/stealth/advanced-stealth.service.ts
  test/app.e2e-spec.ts
Due: eslint --fix --max-warnings 50, prettier --write

feat: 品質保証システムの強化と段階的厳格化の実装
  .github/workflows/ci.yml
  .github/workflows/quality-monitor.yml
  .husky/pre-commit
  .lintstagedrc.json
  docs/QUALITY_GUIDELINES.md
  eslint.config.mjs
  package.json
  scripts/quality-report.js
Due: eslint --fix --max-warnings 50, prettier --write

fix: CI/CD失敗の修正 - TypeScriptエラーを解消
  src/domain/url/url.service.ts
  src/features/scraping/orchestrator/ultra-fast-orchestrator.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: ESLintエラーを完全解消 - await-thenableとrequire-await修正
  package-lock.json
  package.json
  src/domain/url/url.service.spec.ts
  src/domain/url/url.service.ts
  src/features/bot-protection/bot-protection.service.spec.ts
  src/features/bot-protection/bot-protection.service.ts
  src/features/monitoring/alert-manager.service.ts
  src/features/scraping/scraping.service.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: CI/CD環境差異の完全解決とワークフロー修正
  .github/workflows/ci.yml
  .husky/pre-commit
  jest.config.js
  package.json
  tsconfig.json
Due: eslint --fix --max-warnings 50, prettier --write

fix: CI/CD失敗の根本解決 - ESLintコマンド修正とデバッグ強化
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: CI/CD Jestテスト失敗の根本解決
  jest.config.js
  src/domain/users/users.service.spec.ts
  src/domain/users/users.service.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: カバレッジ閾値を現実的な値に調整
  jest.config.js
Due: eslint --fix --max-warnings 50, prettier --write

fix: セキュリティスキャンの過度な検出を修正
  .github/workflows/ci.yml
Due: prettier --write

fix: セキュリティスキャンを実際のハードコード値のみ検出するよう修正
  .github/workflows/ci.yml
Due: prettier --write

fix: ESLintのoff設定をwarnに変更（警告数調整）
  eslint.config.mjs
Due: none

fix: Quality Regression Detectionのチェックを現実的に調整
  .github/workflows/quality-monitor.yml
Due: prettier --write

fix: ESLint警告上限を現在の警告数に合わせて調整
  .github/workflows/ci.yml
  .lintstagedrc.json
Due: prettier --write

fix: docker-checkとcreate-releaseを非必須ジョブに変更
  .github/workflows/ci.yml
Due: prettier --write

fix: docker-checkでinfoレベルの警告を無視
  .github/workflows/ci.yml
Due: prettier --write

fix: hadolintコマンドの構文を修正
  .github/workflows/ci.yml
Due: prettier --write

fix: docker-compose configで.envファイルエラーを回避
  .github/workflows/ci.yml
Due: prettier --write

ドキュメント更新
  CLAUDE.md
Due: prettier --write

chore: リリース前開発向けにpre-commit/CI設定を緩和
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  DEV_MODE.md
Due: prettier --write

feat: Telegram Botコマンド機能の実装 (Issue #38)
  package.json
  pnpm-lock.yaml
  src/core/database/migration-add-user-id-to-urls.sql
  src/domain/telegram/telegram.controller.ts
  src/domain/telegram/telegram.module.ts
  src/domain/url/url.interface.ts
  src/domain/url/url.service.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: ESLintエラーを修正（テンプレートリテラルを配列に変更）
  src/domain/telegram/telegram.controller.ts
Due: eslint --fix --max-warnings 50, prettier --write

docs: 編集ファイルの警告ゼロルールを品質基準に追加
  CLAUDE.md
Due: prettier --write

fix: url.service.spec.tsのID型エラーを修正
  .jest-cache/haste-map-bbb33a106be06d525c3ec42bab07092a-54c7b93936d660155cfa4c9a588bc2ec-9eb282e7a8dba92dbecd9050b096970a
  .jest-cache/perf-cache-bbb33a106be06d525c3ec42bab07092a-da39a3ee5e6b4b0d3255bfef95601890
  CLAUDE.md
  docs/API仕様書 .md
  docs/システム設計書 .md
  docs/スクレイピング戦略.md
  src/domain/url/url.service.spec.ts
Due: eslint --fix --max-warnings 50, prettier --write

feat: ソクブツMVP実装 - 軽量版新着物件通知サービス
  .env.example
  .gitignore
  CLAUDE.md
  Dockerfile
  README.md
  docker-compose.yml
  package.json
  src/config.ts
  src/main.ts
  src/scheduler.ts
  src/scraper.ts
  src/storage.ts
  src/telegram.ts
  tsconfig.json
Due: eslint --fix --max-warnings 50, prettier --write

ドキュメント追加
  README.md
  docs/MVP実装ガイド.md
  docs/クイックスタートガイド.md
  docs/品質基準.md
  docs/軽量実装ガイド.md
  docs/開発環境構築手順書.md
Due: prettier --write

リセット実装
  .env.example
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/scraper.test.ts
  src/__tests__/storage.test.ts
  src/config.ts
  src/logger.ts
  src/main.ts
  src/manual-test.ts
  src/performance.ts
  src/scheduler.ts
  src/scraper.ts
  src/storage.ts
  src/telegram.ts
  src/test-setup.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix --max-warnings 50, prettier --write

fix: TypeScriptコンパイルエラーとAPI互換性の修正
  src/manual-test.ts
  src/scraper.ts
  src/telegram.ts
Due: eslint --fix --max-warnings 50, prettier --write

docs: 主要クラスに設計ドキュメント参照と関連クラスのメモを追加
  src/logger.ts
  src/performance.ts
  src/scheduler.ts
  src/scraper.ts
  src/storage.ts
  src/telegram.ts
Due: eslint --fix --max-warnings 50, prettier --write

feat: vibeloggerを統合してAI最適化ログシステムを実装
  CLAUDE.md
  package-lock.json
  package.json
  src/logger.ts
  src/main.ts
  src/performance.ts
  src/scheduler.ts
  src/scraper.ts
  src/storage.ts
  src/telegram.ts
  src/types/vibelogger.d.ts
Due: eslint --fix --max-warnings 50, prettier --write

feat: 品質環境の初期構築とテストカバレッジ改善
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  CLAUDE.md
  jest.config.js
  package-lock.json
  package.json
  src/__mocks__/vibelogger.js
  src/__tests__/performance.test.ts
  src/__tests__/scraper.test.ts
  src/__tests__/storage.test.ts
  src/__tests__/telegram.test.ts
  src/config.ts
  src/logger.ts
  src/main.ts
  src/manual-test.ts
  src/performance.ts
  src/scheduler.ts
  src/scraper.ts
  src/storage.ts
  src/telegram.ts
  src/test-setup.ts
  src/types.ts
  src/types/vibelogger.d.ts
  tsconfig.json
Due: eslint --fix --max-warnings 50, prettier --write

feat: CI/CD環境の構築
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

test: improve test coverage to 70%+
  .github/workflows/ci.yml
  src/__tests__/config.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/scheduler.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: CI/CD test failures
  src/__tests__/logger.test.ts
  src/__tests__/scheduler.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: scheduler test failing in CI/CD
  src/__tests__/scheduler.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: scheduler test finally passing in CI/CD
  src/__tests__/scheduler.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

test: ブランチカバレッジを70%以上に改善
  jest.config.js
  src/__tests__/config.test.ts
  src/__tests__/performance.test.ts
  src/__tests__/scheduler.test.ts
  src/__tests__/storage.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

fix: storage.testの失敗していたテストケースを削除
  src/__tests__/storage.test.ts
Due: eslint --fix --max-warnings 50, prettier --write

Path conditions:
  eslint --fix --max-warnings 50: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
