Repository denof-inc/sokubutsu2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 500, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix --max-warnings 500", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: Puppeteer-first戦略への仕様変更を反映
  CLAUDE.md
  docs/MVP実装ガイド.md
  docs/requirements.md
  docs/システム設計書 .md
  docs/新着物件監視ロジック.md
  docs/軽量実装ガイド.md
Due: prettier --write

docs: ドキュメント大幅統合 - 25→10ファイル（60%削減）
  docs/API・通信仕様書.md
  docs/API仕様書 .md
  docs/DEVELOPMENT.md
  docs/ESM_MIGRATION.md
  docs/MVP実装ガイド.md
  docs/TELEGRAM_AUTH.md
  docs/TESTING.md
  docs/WSL2セットアップガイド.md
  docs/クイックスタートガイド.md
  docs/システム設計書 .md
  docs/スクレイピング戦略.md
  docs/テスト完全ガイド.md
  docs/テスト戦略・手順書 .md
  docs/デプロイメント手順書 .md
  docs/トラブルシューティングガイド.md
  docs/品質基準.md
  docs/品質基準・トラブルシューティング.md
  docs/実装・開発ガイド.md
  docs/自宅サーバー運用ガイド.md
  docs/軽量実装ガイド.md
  docs/運用・デプロイガイド.md
  docs/開発環境構築手順書.md
  docs/🍎 Mac環境での本番同等テスト実行ガイド.md
Due: prettier --write

fix: Puppeteerタイムアウトを30秒から60秒に延長
  src/scraper-puppeteer.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: scheduler-url-report.test.tsのlastNewProperty型期待値修正
  CLAUDE.md
  src/__tests__/scheduler-url-report.test.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat: Node.js 20.x LTSにバージョン統一
  .github/workflows/ci.yml
  .nvmrc
  package.json
Due: prettier --write

fix: Puppeteerタイムアウト問題を根本解決し90%成功率を回復
  src/scraper-puppeteer.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix: ESLint無効化削除とPuppeteer型安全性の完全修復
  src/scraper-puppeteer.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat: Context7最新突破技術をPuppeteerに適用し認証回避を強化
  src/scraper-puppeteer.ts
  src/scraper.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat(cipher): Claude Code から Cipher(MCP) を利用可能にする設定を追加
  .mcp.json
  package-lock.json
  package.json
  scripts/start-cipher-mcp.sh
Due: prettier --write

chore(lint): shutdown処理の浮動Promiseをvoid指定で明示化
  src/main.ts
  src/telegram.ts
Due: eslint --fix --max-warnings 500, prettier --write

fix(telegram): 不明コマンド判定の型安全化（undefined対策）
  src/telegram.ts
Due: eslint --fix --max-warnings 500, prettier --write

feat(telegram): メッセージテキスト経由でも /help /status /stats /check をハンドリング（冗長経路）\n\n- grammyのcommand登録に加えて message:text からもコマンドを解釈して応答\n- 受信観測ログをinfoに引き上げ（診断性向上）
  src/telegram.ts
Due: eslint --fix --max-warnings 500, prettier --write

chore(env): add .env.production overrides and compose to load both .env and .env.production
  .env.production
  docker-compose.yml
Due: prettier --write

fix(ci): テストと型定義の互換性を修正しCIを通過\n\n- tsconfig.jsonにjest/node型を追加してtypecheckエラー解消\n- grammyのNamed Export(webhookCallback)に対応するためテストのモックを拡張\n- コードの振る舞い・品質を変更せず、CIの安定性のみ改善
  src/__tests__/telegram-commands.test.ts
  src/__tests__/telegram-url-report.test.ts
  src/__tests__/telegram.test.ts
  tsconfig.json
Due: eslint --fix --max-warnings 500, prettier --write

ci(quality-gate): npm audit を本番依存に限定（--omit=dev）し安定化\n\n- quality-gateの監査対象を本番依存に限定（CLAUDE品質方針: 本番影響に絞った脆弱性ゲート）\n- 機能・挙動変更なし。CIの誤検知/環境差による失敗を回避
  .github/workflows/ci.yml
Due: prettier --write

fix: /check を非同期化しWebhookをブロックしないように修正 + 起動通知のエラーハンドリング
  .github/PR_BODY_persistent_session.md
  README.md
  docker-compose.yml
  docs/API・通信仕様書.md
  docs/requirements.md
  docs/品質基準・トラブルシューティング.md
  docs/実装・開発ガイド.md
  src/main.ts
  src/scheduler.ts
  src/telegram.ts
Due: eslint --fix --max-warnings 500, prettier --write

test: 監視名リンク仕様の変更にテストを追従（URLへリンク）
  src/__tests__/telegram-spec.test.ts
Due: eslint --fix --max-warnings 500, prettier --write

chore(husky): pre-commitで型チェックとテストを追加（lint-staged後→関連テスト優先）
  .husky/pre-commit
  README.md
Due: prettier --write

chore(husky): pre-commitをmainに反映（lint-staged→型チェック→関連テスト）
  .husky/pre-commit
Due: none
